<div class="container">
  <h3 class="text-center text-white">Messaging</h3>
  <div class="messaging">
    <div class="inbox_msg">
      <div class="inbox_people">
        <!-- <div class="headind_srch">
          <div class="recent_heading">
            <h4>Users</h4>
          </div>
        </div> -->
        <!-- <div class="inbox_chat">
          <div class="chat_list active_chat" *ngFor="let item of users">
            <div class="chat_people" (click)="selectUser(item.id)">
              <div class="chat_img">
                <img
                  [src]="item.picture"
                  width="40"
                  height="40"
                  class="rounded-circle ml-2"
                  alt="{{ item.name }}"
                />
              </div>
              <div class="chat_ib">
                <h5>{{ item.name }} </h5>
                <p></p>
              </div>
            </div>
          </div>
        </div> -->
      </div>
      <div class="mesgs">
        <div class="msg_history">
          <div class="incoming_msg">
            <!-- <div class="incoming_msg_img" *ngFor="let item of messageList">

            </div> -->
            <div class="received_msg" *ngFor="let item of messageList">
              <div *ngIf= 'recievrId'  class="received_withd_msg">
                <p>{{ item.messages }}</p>
                <!-- <span class="time_date"> </span> -->
              </div>
            </div>
          </div>
          <div class="outgoing_msg" *ngFor="let item of messageList">
            <div  *ngIf= 'senderId'  class="sent_msg">
              <p>{{item.messages}}</p>
              <!-- <span class="time_date"> 11:01 AM | June 9</span> -->
            </div>
          </div>
          <!-- <div class="incoming_msg">
            <div class="incoming_msg_img">
              <img
                src="https://ptetutorials.com/images/user-profile.png"
                alt="sunil"
              />
            </div>
            <div class="received_msg">
              <div class="received_withd_msg">
                <p>Test, which is a new approach to have</p>
                <span class="time_date"> 11:01 AM | Yesterday</span>
              </div>
            </div>
          </div> -->

        </div>
        <div class="type_msg">
          <div class="input_msg_write">
            <!-- name="message"
            placeholder="Write your message here..."
            required
            ngModel
            id="message" -->
            <form #f="ngForm">
              <input
                type="text"
                class="write_msg"
                name="message"
                placeholder="Write your message here..."
                required
                ngModel
                id="message"
              />
              <button
                class="msg_send_btn" [disabled]="f.invalid"
                (click)="sendMessage(f)"
                type="button"
              >
                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- </div></div> -->
  </div>
</div>
